<section>
  <h2>Blogroll</h2>
  <ul>
    <li>
      <a href="http://yewen.us/" title="ACMer">Ye Wen</a>
    </li>
	<li>
      <a href="http://blog.liancheng.info/" title="Engineer at Databricks">Lian Cheng</a>
    </li>
    <li>
      <a href="http://www.rational.so/" title="CS PhD Candidate at Tsinghua University">Dong Yan</a>
    </li>
	<li>
      <a href="http://www.parallellabs.com/" title="Data Scientist / Technical Leader at IBM">Parallel Labs</a>
    </li>
	<li>
      <a href="http://blog.javachen.com/" title="">JavaChen</a>
    </li>
	<li>
      <a href="http://shenfeng.me/" title="http-kit, clojure">Shen Feng</a>
    </li>
	<li>
      <a href="http://www.lihaipeng.info/" title="Senior engineer at Baidu">Lee Haipeng</a>
    </li>
	<li>
      <a href="http://www.chioka.in/" title="Engineer at Google">Eric</a>
    </li>
    <li>
      <a href="http://blog.csdn.net/lgnlgn" title="Engineer at Maopu">Liang Sir</a>
    </li>
    <li>
      <a href="http://www.doesbetter.com/" title="Machine learning Master">Wang Xiaoshu</a>
    </li>
    <li>
      <a href="http://www.foreverlee.net/" title="CS PhD Candidate at IACAS">ForeverLee</a>
    </li>
  </ul>
</section>
